[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	editor = subl -n -w

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	tool = opendiff
	defaultToUpstream = 1

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

[push]
	default = simple
[user]
	name = Sheldon Els
	email = sheldon.els@gmail.com
[alias]
	s = status --short
  branchdate = !git for-each-ref --sort='-authordate' --format='%(authordate)%09%(refname)' refs
  feature-branch = "!f() { branch_name=$1; shift; git checkout -b $branch_name $(git merge-base --octopus $*); }; f"
[format]
	pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr - %ci) %C(bold blue)<%an>%Creset
[mergetool]
	keepBackup = false
